body {
    margin: 0;
    padding: 0;
}

#game-arena {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background: url('img/sky.png');
    position: relative;
}

#rocket {
    position: absolute;
    left: 288px;
    bottom: 10px;
    width: 40px;
}